#root {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.homepage {
    padding: 2rem;
    flex: 1;
    display: flex;
    /* display: none; */
    position: relative;
}

.gameboard {
    flex: 2;
    margin: 0 1rem;
    display: flex;
    /* display: none; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gameboard.hidden {
    display: none;
}

.gameboard.visible {
    display: flex;
}

.playgrid {
    flex: 1;
    aspect-ratio: 1;
    min-width: 100%;
    max-width: 100%;
    border: 1px solid var(--border-color-playgrid);
    border-radius: 10px;
    padding: 1rem;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    gap: 2%;
    /* Used to give the depth when flipping the cards */
    perspective: 1000px;
}

.playgrid.inactive {
    pointer-events: none;
}

.playgrid-element {
    flex: 1;
    aspect-ratio: 1;
    text-align: center;
    align-content: center;
    border: 1px solid var(--border-color-playgrid-element);
    border-radius: 10px;
    min-width: 13%;
    max-width: 13%;
    pointer-events: none;
    position: relative;
    /* Used to handle the flip animation when clicked */
    transition: transform 1s;
    transform-style: preserve-3d;
}

.playgrid-element.clickable {
    pointer-events: auto;
    cursor: pointer;
}

.playgrid-element.clickable:hover,
.playgrid-element.clickable.right-clicked {
    border-color: var(--border-color-playgrid-element-clickable);
    background-color: var(--background-color-playgrid-element-clickable);
}

.playgrid-element.clicked {
    background-color: var(--background-color-playgrid-element-clicked);
    transform: rotateY(360deg);
}

.playgrid-element.red {
    background-color: var(--background-color-playgrid-element-red);
}

.playgrid-element.green {
    background-color: var(--background-color-playgrid-element-green);
}

.playgrid-element.yellow {
    background-color: var(--background-color-playgrid-element-yellow);
}

.playgrid-element.blue {
    background-color: var(--background-color-playgrid-element-blue);
}

.playgrid-element.purple {
    background-color: var(--background-color-playgrid-element-purple);
}

.menu {
    flex: 1;
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.current-score-title {
    font-size: 2rem;
    line-height: 1.1;
}

.playmenu {
    flex: 1;
    border: 1px solid var(--border-color-playmenu);
    padding: 1rem;
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.record-score {
    margin: 1rem 0;
}

.tab-holder {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.tab-container {
    border: 1px solid var(--border-color-tab-container);
    border-radius: 10px 10px 0px 0px;
}

.tabs {
    list-style: none;
    display: flex;
    overflow: scroll;
    scrollbar-width: none;
}

.tab {
    padding: 10px;
    border-radius: 9px;
    cursor: pointer;
}

.tab.active {
    background-color: var(--background-color-tab-active);
}

.tab:hover {
    background-color: var(--background-color-tab-hover);
}

.tab-content {
    flex: 1;
}

.tab-pane {
    height: 100%;
    display: none;
    border: 1px solid var(--border-color-tab-pane);
    border-top-width: 0px;
    border-radius: 0px 0px 10px 10px;
}

.tab-pane>h3 {
    padding: 0.5rem 1rem;
    text-align: left;
}

.log {
    color: var(--color-text);
}

.warning {
    color: var(--color-text-warning);
}

.error {
    color: var(--color-text-error);
}

.success {
    color: var(--color-text-success);
}

.tab-pane.active {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.game-description {
    height: 100%;
    padding: 1rem;
    align-content: center;
    text-align: left;
}

.button-container {
    margin-top: 1rem;
}

.context-menu-container {
    position: absolute;
    border: 1px solid var(--border-color-context-menu-container);
    border-radius: 10px;
    z-index: 10;
    background-color: var(--background-color-context-menu-container);
    opacity: 0.9;
}

.context-menu-title {
    font-size: small;
    padding: 0.5rem;
    border-bottom: 1px solid lightgray;
}

.context-menu {
    list-style: none;
    padding: 0.1rem 0;
}

.context-menu-candidate {
    font-size: small;
    border-radius: 8px;
    padding: 0.1rem;
}

.context-menu-candidate.toggled {
    background-color: var(--background-color-context-menu-candidate);
}

.context-menu-candidate:hover {
    background-color: var(--background-color-context-menu-candidate-hover);
    cursor: pointer;
}

.context-menu-close-button {
    font-size: small;
    border-radius: 8px;
    padding: 0.1rem;
}

.context-menu-close-button:hover {
    background-color: var(--background-color-context-menu-close-button);
    cursor: pointer;
}

.candidates-container {
    position: absolute;
    line-height: 1;
    color: var(--color-text-candidates-container);
    --candidate-padding: 0.5rem;
}

.candidates-container.top-left {
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
    padding: var(--candidate-padding) 0 0 var(--candidate-padding);
    text-align: left;
    align-content: start;
}

.candidates-container.top-right {
    top: 0;
    right: 0;
    width: 50%;
    height: 50%;
    padding: var(--candidate-padding) var(--candidate-padding) 0 0;
    text-align: right;
    align-content: start;
}

.candidates-container.bottom-right {
    bottom: 0;
    right: 0;
    width: 50%;
    height: 50%;
    padding: 0 var(--candidate-padding) var(--candidate-padding) 0;
    text-align: right;
    align-content: end;
}

.candidates-container.bottom-left {
    bottom: 0;
    left: 0;
    width: 50%;
    height: 50%;
    padding: 0 0 var(--candidate-padding) var(--candidate-padding);
    text-align: left;
    align-content: end;
}