#root {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.homepage {
    flex: 1;
    padding: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

@media (max-width: 600px) {
    .homepage {
        padding: 1rem;
    }
}