.gameboard.hidden {
    display: none;
}

.gameboard.visible {
    display: flex;
}

.playgrid.inactive {
    pointer-events: none;
}

.playgrid-element.clickable {
    pointer-events: auto;
    cursor: pointer;
}

.playgrid-element.clickable:hover,
.playgrid-element.clickable.right-clicked {
    border-color: var(--border-color-playgrid-element-clickable);
    background-color: var(--background-color-playgrid-element-clickable);
}

.playgrid-element.clicked {
    background-color: var(--background-color-playgrid-element-clicked);
    transform: rotateY(360deg);
}

.playgrid-element.red {
    background-color: var(--background-color-playgrid-element-red);
}

.playgrid-element.green {
    background-color: var(--background-color-playgrid-element-green);
}

.playgrid-element.yellow {
    background-color: var(--background-color-playgrid-element-yellow);
}

.playgrid-element.blue {
    background-color: var(--background-color-playgrid-element-blue);
}

.playgrid-element.purple {
    background-color: var(--background-color-playgrid-element-purple);
}

.counter {
    padding: 0 0.2rem;
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.key-text {
    font-size: small;
    align-content: center;
}

.value-text {
    align-content: center;
    font-size: medium;
}

.counter-hr {
    border: none;
    border-top: 1px solid var(--border-color-playgrid-element);
}

.playgrid-element-empty {
    height: 100%;
    align-content: center;
}

.candidates-container {
    position: absolute;
    line-height: 1;
    color: var(--color-text-candidates-container);
    --candidate-padding: 0.5rem;
}

.candidates-container.top-left {
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
    padding: var(--candidate-padding) 0 0 var(--candidate-padding);
    text-align: left;
    align-content: start;
}

.candidates-container.top-right {
    top: 0;
    right: 0;
    width: 50%;
    height: 50%;
    padding: var(--candidate-padding) var(--candidate-padding) 0 0;
    text-align: right;
    align-content: start;
}

.candidates-container.bottom-right {
    bottom: 0;
    right: 0;
    width: 50%;
    height: 50%;
    padding: 0 var(--candidate-padding) var(--candidate-padding) 0;
    text-align: right;
    align-content: end;
}

.candidates-container.bottom-left {
    bottom: 0;
    left: 0;
    width: 50%;
    height: 50%;
    padding: 0 0 var(--candidate-padding) var(--candidate-padding);
    text-align: left;
    align-content: end;
}

.gameboard {
    container-type: size;
    flex: 2;
    min-width: 55vw;
    min-height: 500px;
    max-width: 80vw;
    margin: 0 1rem;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    place-items: center;
    border: 2px solid var(--border-color-gameboard);
    border-radius: 10px;
}

.playgrid {
    width: 100%;
    margin: auto;
    padding: 1rem;
    perspective: 1000px;
    aspect-ratio: 1;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 10px;
}

.playgrid-element {
    min-width: 0;
    min-height: 0;
    user-select: none;
    align-content: center;
    border: 1px solid var(--border-color-playgrid-element);
    border-radius: 10px;
    pointer-events: none;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
}

@container (min-aspect-ratio: 1) {
    .playgrid {
        height: 100%;
        width: auto;
    }
}

@media (max-width: 600px) {
    .gameboard {
        min-height: 40vh;
        max-width: 100vw;
        margin: 0;
    }

    .playgrid {
        display: grid;
        margin: auto;
    }

    .counter {
        justify-content: center;
    }
    
    .key-text {
        display: none;
    }

    .value-text {
        font-size: x-small;
    }

    .playgrid-element > .counter:nth-child(1) > .value-text:nth-child(2)::before {
        content: 'B: ';
    }

    .playgrid-element > .counter:nth-of-type(2) > .value-text:nth-child(2)::before {
        content: 'S: ';
    }
}