body.light {
    --color-text: #213547;
    --color-text-warning: #b5b520;
    --color-text-error: #850f0f;
    --color-text-success: #008000;
    --color-text-candidates-container: #b5b520;
    --color-text-header-title: #000000;
    --background-color: #e1e1e1;
    --background-color-header: #c4c0c0;
    --background-color-playgrid-element-clickable: #999292;
    --background-color-playgrid-element-clicked: cadetblue;
    --background-color-playgrid-element-red: #ff0000;
    --background-color-playgrid-element-green: #66a30a;
    --background-color-playgrid-element-yellow: #dcdc16;
    --background-color-playgrid-element-blue: #6495ed;
    --background-color-playgrid-element-purple: #9932cc;
    --background-color-tab-active: #c4c0c0;
    --background-color-tab-hover: #999292;
    --background-color-context-menu-container: #242424;
    --background-color-context-menu-candidate: #008000;
    --background-color-context-menu-candidate-hover: #2b2be4;
    --background-color-context-menu-close-button: #af0505;
    --background-color-button: #c4c0c0;
    --background-color-theme-slider: #a52a2a;
    --background-color-theme-slider-before: #ffffff;
    --background-color-theme-slider-input-checked: #008000;
    --border-color-gameboard: #2b2be4;
    --border-color-menu: #2b2be4;
    --border-color-playgrid-element-clickable: #2b2be4;
    --border-color-playgrid-element: #575656;
    --border-color-tab-container: #575656;
    --border-color-tab-pane: #575656;
    --border-color-button: #575656;
    --border-color-context-menu-container: #d3d3d3;
    --border-color-button-hover: #646cff;
}

body.dark {
    --color-text: #ffffff;
    --color-text-warning: #b5b520;
    --color-text-error: #850f0f;
    --color-text-success: #008000;
    --color-text-candidates-container: #b5b520;
    --color-text-header-title: #000000;
    --background-color: #242424;
    --background-color-header: #1a1a1a;
    --background-color-playgrid-element-clickable: #585858;
    --background-color-playgrid-element-clicked: cadetblue;
    --background-color-playgrid-element-red: #ff0000;
    --background-color-playgrid-element-green: #66a30a;
    --background-color-playgrid-element-yellow: #dcdc16;
    --background-color-playgrid-element-blue: #6495ed;
    --background-color-playgrid-element-purple: #9932cc;
    --background-color-tab-active: #a09898;
    --background-color-tab-hover: #585858;
    --background-color-context-menu-container: #242424;
    --background-color-context-menu-candidate: #008000;
    --background-color-context-menu-candidate-hover: #2b2be4;
    --background-color-context-menu-close-button: #af0505;
    --background-color-button: #1a1a1a;
    --background-color-theme-slider: #a52a2a;
    --background-color-theme-slider-before: #ffffff;
    --background-color-theme-slider-input-checked: #008000;
    --border-color-gameboard: #2b2be4;
    --border-color-menu: #2b2be4;
    --border-color-playgrid-element-clickable: #2b2be4;
    --border-color-playgrid-element: #d3d3d3;
    --border-color-tab-container: #d3d3d3;
    --border-color-tab-pane: #d3d3d3;
    --border-color-context-menu-container: #d3d3d3;
    --border-color-button: #d3d3d3;
    --border-color-button-hover: #646cff;
}