.header {
    flex: 1;
    max-height: 65px;
    display: flex;
    justify-content: end;
    position: relative;
    background-color: var(--background-color-header);
}

.title-container {
    flex: 1;
}

.title {
    height: 100%;
    width: 100%;
    align-content: center;
    text-align: center;
}

.theme-toggle {
    min-width: 200px;
    height: 100%;
    position: absolute;
    margin: 0 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.theme-icon-container {
    width: 2.5rem;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.theme-icon {
    flex: 1;
    height: auto;
    max-width: 80%;
    padding: 0.2rem;
    border: 1px solid transparent;
    border-radius: 50%;
    transition: border-color 0.4s, max-width 0.4s;
}

.theme-icon.selected {
    max-width: 100%;
    border-color: var(--border-color-tab-container);
}

.theme-switch-container {
    width: 60px;
    height: 35px;
    border-radius: 33px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 5px;
}

.theme-switch-container.dark-theme {
    background-color: var(--background-color-theme-slider-input-checked);
}

.theme-switch-container.dark-theme:hover {
    background-color: var(--background-color-theme-slider-before-hover);
}

.theme-switch-container.light-theme {
    background-color: var(--background-color-theme-slider);
}

.theme-switch-container.light-theme:hover {
    background-color: var(--background-color-theme-slider-hover);;
}

.theme-toggle-ball {
    --dim: 22px;
    background-color: var(--background-color-theme-slider-before);
    height: var(--dim);
    aspect-ratio: 1;
    border-radius: 50%;
    margin-left: 0px;
    margin-right: 0px;
    transition: margin-left 0.4s ease-in-out;
}

.switch-checked {
    margin-left: calc(100% - var(--dim));
}

@media (max-width: 600px) {
    .theme-toggle {
        min-width: min-content;
        padding: 0 10px;
    }

    .theme-icon-container {
        display: none;
    }

    .theme-switch-container {
        width: 50px;
        height: 30px;
    }

    .theme-toggle-ball {
        --dim: 18px;
    }
}